{% extends 'base.html' %}

{% block sidebar_links %}
    <a href="/estudiante-panel/">📋 Mis Notas</a>
{% endblock %}

{% block content %}
<h1>MIS NOTAS</h1>

<div class="card">
    {% if notas %}
        {% for codigo, lista in notas.items %}
        <h3>Curso: {{ codigo }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in lista %}
                <tr>
                    <td>{{ nota.fila }}</td>
                    <td>{{ nota.valor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% endfor %}
    {% else %}
        <p>No hay notas disponibles aún.</p>
    {% endif %}
</div>
{% endblock %}